<!-- <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="form-inline">
                <div class="form-group">
                    <label for="username" style="font-style: italic;">Search : </label>
                    <input type="text" (change)="onSearch($event)" class="form-control"/>
                </div>
            </div>
        </li>
    </ul>
</div>
<br> -->
<div class="table-responsive">  
    <ngx-loading [show]="showProgress"></ngx-loading>
  <table class="table table-bordered table-hover">
    <thead> 
      <tr> 
        <th>Process ID</th>
        <th>Process Name</th>
        <th>Severity</th>
        <th>OPS Step</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskData">
        <td>{{ task.processId }}</td>
        <td>{{ task.processName }}</td>
        <td>{{ task.severityName }}</td>
        <td>{{ '' + task.opsStepFlag | uppercase }}</td>
        <td><a class="btn btn-info" (click)="onPick(task.taskId)">Pick</a></td>
        <td><a class="btn btn-info" (click)="onNotes(task.taskId)">Notes</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="noData">No Data</div>
