<h3>Administration Panel</h3>
<!-- <div class="pull-right">
  <button (click)="onSave()" class="btn btn-info">Save</button>
</div> -->
<a style="cursor: pointer; margin: 0 10px;" (click)="onSignIn()">< back to Log In</a>
<br><br>
<div class="table-responsive">  
  <table class="table table-bordered table-hover">
    <thead> 
      <tr> 
        <th>User Name</th>
        <th>Developer</th>
        <th>OPS</th>
        <th>Internal Validation</th>
        <th>External Validation</th>
        <th>Lead</th>
        <th>Manager</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{ user.firstname }}</td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'dev'" (click)="onClick(user.username, 'dev', $event.target.checked)" /></td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'ops'" (click)="onClick(user.username, 'ops', $event.target.checked)" /></td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'int'" (click)="onClick(user.username, 'int', $event.target.checked)" /></td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'ext'" (click)="onClick(user.username, 'ext', $event.target.checked)" /></td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'led'" (click)="onClick(user.username, 'led', $event.target.checked)" /></td>
        <td><input type="checkbox" [checked]="user.securityGroup === 'mgr'" (click)="onClick(user.username, 'mgr', $event.target.checked)" /></td>
      </tr>
    </tbody>
  </table>
</div>